<div 
  class="bg-white text-black w-64 fixed space-y-6 inset-y-0 left-0 transform transition-all ease-in-out duration-300 z-10"
  [ngClass]="{
    '-translate-x-full': !isSidebarOpen && isMobile,
    'translate-x-0 lg:translate-x-0': isSidebarOpen || !isMobile
  }">
  <div class="flex items-center justify-between w-full p-4 mr-12 mb-8">
    <h2 class="text-xl font-bold"></h2>
  </div>
  
  <ul class="mt-6">
    <li class="border-b border-t border-gray-300">
      <a href="#" class="block p-2 hover:bg-green-700 hover:text-white w-full text-black text-center">All Medicine</a>
    </li>
    <li class="border-b border-t">
      <a href="#" class="block p-2 hover:bg-green-700 hover:text-white w-full text-black text-center">All Medicine</a>
    </li>
    <li class="border-b border-t">
      <a href="#" class="block p-2 hover:bg-green-700 hover:text-white w-full text-black text-center">All Medicine</a>
    </li>
    <li class="border-b border-t">
      <a href="#" class="block p-2 hover:bg-green-700 hover:text-white w-full text-black text-center">All Medicine</a>
    </li>
  </ul>
</div>