<div>
  <div class="grid grid-cols-7">

    <div claass="">
        <div class="card bg-[#f86d6e] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Reset</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#5f82fd] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Add. info</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#ed5ba6] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Discount</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#f9b300] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Draft</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#f86d6e] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Reset</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#f86d6e] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Discount</h2>             
            </div>
          </div>
    </div>

    <div>
        <div class="card bg-[#f86d6e] w-fit shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-white">Draft</h2>             
            </div>
          </div>
    </div>

  </div>
</div>
