<div>
    <div class="border border-b w-full h-24 bg-white"></div>

    <div class="px-[20px]">
        <div class="grid grid-cols-2 gap-2">
            <!--right side start-->
            <div>

                <div class="bg-white w-full h-full">

                    <div class="text-primary-content flex items-center justify-center">
                        <div class="relative w-full max-w-xs mt-4 mb-4">
                            <label class="input input-bordered flex items-center gap-2">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 16 16"
                                  fill="currentColor"
                                  class="h-4 w-4 opacity-70 text-black">
                                  <path
                                    fill-rule="evenodd"
                                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                    clip-rule="evenodd" />
                                </svg>

                                <input type="text" class="grow" placeholder="Search" />
                                
                              </label>
                        </div>
                    </div>
                    
                    <div>

                        <div class="flex justify-between ">

                            <div>
                               <!--side bar-->
                            </div>

                           <div>

                            <div class="flex justify-between items-center mb-4 px-12">
                                <div>
                                    <p>Total Medicine (250)</p>
                                </div>
                                <div>
                                    <app-selector></app-selector>
                                </div>                          
                        
                                
                            </div>
                            
                            <div class="mb-4">
                                <div class="px-12">
                                   <div class="grid grid-cols-3 gap-2">
                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>
                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>
                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>

                                       <div>
                                           <app-card></app-card>
                                       </div>
                                   </div>
                                </div>
                           </div>
                           </div>
                            
                        </div>

                    </div>

                </div>
                
            </div>
            <div>
                <!--right side end-->

                <!--Left side card start-->
                <div class="card bg-white text-primary-content w-full">
                    <div class="card-body"></div>
                </div>
                  <!--Left side card start-->
            </div>
        </div>
    </div>
</div>